body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#torzs{
    width: 1000px;
    margin: 0 auto;
}
#header{
    background: url(panorama.jpg), url(cimer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 650px;
    max-width: 1000px;
    height: 200px;
}
#bal{
    width: 450px;
    background-color: #5b9cea;
}
#jobb{
    width: 450px;
    background-color: #5b9cea;
    float: right;
}
#alsoketto{
    overflow: hidden;
}
#tabla{
    border: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: #b0d1f1;
}
#cell{
    border: 1px;
    margin: 0px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    width: 50%;
}

